* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}   

#offcanvasNavbarLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}


body {
    display: flex;
    flex-direction: column;
}

#featured-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured-container img {
    width: auto;
    height: 65vh;
}

#featured-content {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-content > h3 {
    color: white;
}

#featured-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

#featured-description > p {
    font-size: 18px;
    margin-right: 10px;
    color: white;
    margin-bottom: 0;
}

#featured-description .logo{
    width: 150px;
    height: auto;
}

#featured-content a{
    margin-top: 15px;
}

#about-container {
    width: 100%;  
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section > p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.about-section > svg {
    width: 100px;
    height: auto;
}

#form-icon {
    color: rgb(115,86,173)
}

#megaphone-icon {
    color: rgb(237,76,96)
}

#money-icon {
    color: rgb(85,184,124)
}

#contributor-container {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contributor-container img {
    width: 120vh;
    height: 100%;
}

#contributor-content {
    position: absolute;
    top:5%;
    left:5%;
    color: white;
}

@media only screen and (min-width:600px){
    #featured-container {
        max-height: 750px;
    }
    
    #featured-container img {
        width: 100%;
        height: auto;
    }
  }

#login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form > div {
    width: 100%;
}

@media only screen and (max-width:992px){
    .navbar-dark .navbar-nav .nav-link {
        color: black;
    }
}

@media only screen and (min-width:992px){
    #contributor-container {
        max-height: 92vh;
    }
    
    #contributor-container img {
        width: 100%;
        height: 100%;
    }
  }


