* {
    box-sizing: border-box;
    margin: 0;
}

.navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 30px;
}   

#offcanvasNavbarLabel {
    font-family: 'Monoton', cursive;
    font-size: 30px;
}

nav {
    background-color: none;
}